@page
@model SistemaAcademico.Pages.EliminarCarreraModel
@{
}

<input type="hidden" asp-for="oCarrera.Id">

<form method="post">

	<h4>¿Estás seguro de que queres eliminar esta carrera?</h4>

	<div>
		<strong>Nombre: </strong> @Model.oCarrera.Nombre
	</div>
	<div>
		<strong>Modalidad: </strong> @Model.oCarrera.Modalidad
	</div>
	<div>
		<strong>Duracion: </strong> @Model.oCarrera.DuracionAnios años
	</div>
	<div>
		<strong>Título Otorgado: </strong> @Model.oCarrera.TituloOtorgado
	</div>

	<br />

	<button type="submit" class="btn btn-danger">Eliminar</button>
	<a asp-page="TablaCarreras" class="btn btn-secondary">Cancelar</a>
</form>